body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  margin-top: 1%;
}

.card-body { 
  text-align: left;
}

li {
  margin-bottom: 10px;
}

#languageName:hover {
  text-decoration: underline;
}